@font-face {
  font-family: "iconfont"; /* Project id 3316751 */
  src: url('iconfont.woff2?t=1649578969429') format('woff2'),
       url('iconfont.woff?t=1649578969429') format('woff'),
       url('iconfont.ttf?t=1649578969429') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-homework:before {
  content: "\ee0b";
}

.icon-person:before {
  content: "\ee17";
}

.icon-share:before {
  content: "\ee18";
}

.icon-education:before {
  content: "\ee19";
}

